PORT=5000
MONGO_URI=
JWT_EXPIRE=7d
JWT_SECRET=
CLIENT_URL=http://localhost:3000

RESEND_API_KEY=
EMAIL_FROM="Afis Creation <no-reply@afiscreation.com>"

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

PATHAO_BASE_URL=https://courier-api-sandbox.pathao.com
PATHAO_CLIENT_ID=
PATHAO_CLIENT_SECRET=
PATHAO_STORE_ID=

STEADFAST_BASE_URL=https://portal.packzy.com/api/v1
STEADFAST_API_KEY=
STEADFAST_SECRET_KEY=